/* CSS Flex Exercise-1/7 */

/* .container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
    
  } */

  /* CSS Flex Exercise-2/7 */

  .header  {
    font-family: monospace;
    background: papayawhip;
  }
  
  .logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
  }
  
  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
  }
  
  a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

  .header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
  }