/* CSS Flex Exercise-1/7 */

/* .container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
    
  } */

  /* CSS Flex Exercise-2/7 */

  /* .header  {
    font-family: monospace;
    background: papayawhip;
  }
  
  .logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
  }
  
  ul {
    
    list-style-type: none;
  }
  
  a {
    font-size: 22px;
    background: white;
    padding: 8px;
    
    text-decoration: none;
  }

  .header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
  } */

  /* CSS Flex Exercise-3/7 */

  /* @import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;

  display: flex;
  gap:16px;
  margin: 0;
  padding: 0;
}

.left , .right{
    display: flex;
    align-items: center;
    gap:16px;
} */

 /* CSS Flex Exercise-4/7 */

 /* body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  img {
    width: 100px;
    height: 100px;

    padding:52px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;

    text-align: center;
    margin-bottom:32px;
  }

  .images{
    display: flex;
    justify-content: center;

    
    gap:52px;
    
  }
  
  .info {
    max-width: 200px;
  }
  
  
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  } */


   /* CSS Flex Exercise-5/7 */

   /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

.modal {
    display: flex;
    gap: 16px;
    padding: 16px;
  }
  
  .icon {
    
    flex-shrink: 0;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .text {
    margin-bottom: 16px;
  } */

/* CSS Flex Exercise-6/7 */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body{
    display: flex;
    flex-direction: column;
}
button {
    padding: 8px 16px;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #666;
}

.header, .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 16px;
}
.left-links , .right-links{
    display: flex;
    gap: 10px;
}

.footer{
    background-color: #eeeeee;
} */

/* CSS Flex Exercise-7/7 */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

  }
  
  .header {
    height: 72px;
    background: darkmagenta;
    color: white;
  }
  
  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
  }
  
  .sidebar {
    width: 300px;
    background: royalblue;
    box-sizing: border-box;
  }
  
  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;

    
  }

  body{

    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 32px;
    font-weight: 900;
  }

  .content {
    flex: 1;
    display: flex;
  }
  .sidebar {
    flex-shrink: 0;
    padding: 16px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 16px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .cards{
    padding: 32px;
  display: flex;
  flex-wrap: wrap;
  }

  .card {
    padding: 16px;
    margin: 16px;
    width: 300px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }